@font-face {
   font-family: 'font.regular';
   font-display: swap;
   src: url('file:///Users/vivekadvani/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-11-26_033331/fonts/font.regular/font.ttf');
}
